:root{
    --blue:#4e7fff;
    --gray: #747474;
    --claro:#4e7fff;
    --clarito:#d5e3e9;
    --fondoOsc:#293852;
    --dark:#343a40;
    --mainLetter: 'Public Sans', sans-serif;
}

*{
    color:var(--clarito);
    font-family: var(--mainLetter);
}

h1{
    color: #fff;
}

.custom-select, option{
    color:var(--gray);
}

.sectionHero{
    background-image: linear-gradient(-45deg,#4c6cd3,#27326d);

}

.sectionTable{
    background-color: var(--fondoOsc);
}
.containerHero, .containerTable{   
    max-width: 1080px;
    margin: 0 auto;        
    padding: 90px 0px 90px 0px;   
}

.containerHero{
    display: flex;
}

.rightContainer, .leftContainer{
    flex-basis: 50%;
}

.PrimaryTitle{
    margin-right: 15%;

}

.mb-6{
    margin-bottom: 1.5rem;
}

.mt-16{
    margin-top: 4rem;
}

.SecondTitle{
    font-size: 22px;
    line-height: 1.5;
    font-weight: 400;
    color: var(--clarito);
}