:root{
    --blue:#4e7fff;
    --gray: #747474;
    --claro:#4e7fff;
    --clarito:#d5e3e9;
    --fondoOsc:#293852;
    --dark:#343a40;
    --otro:#3E6BFD;
    --mainLetter: 'Public Sans', sans-serif;
}
/*INDEX*/

header{
    width: 1080px;           
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}
#marca h3{
    float: left;
}
.containerPrimary, .sectionHero{
    background-image: linear-gradient(-45deg,#4c6cd3,#27326d);
    color:var(--clarito);
    
}


.sectionPrimary, .SecondSection, .containerHero{
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    height: auto;
    padding: 70px 0px;
    font-family: var(--mainLetter);
}

.sectionPrimary, .containerHero{
    display: flex;
}

.imagen1{
    width: 500px;
    height: 300px;
    float: left;
    margin: 30px;
    background-image: url(../images/Data.jpg);
    background-size: cover;
}

.article{
    width: 500px;
    height: 400px;
    float: right;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
}
.PrimaryTitle, .SecondTitle{
    margin-left: 15%;

}
.mb-6{
    margin-bottom: 1.5rem;
}

.mt-16{
    margin-top: 4rem;
}

.content{ 
    float: left;
    width: calc(80% - 60px);
    padding: 5px 30px;    
}

.articleContent h2{
    color: var(--otro)
}

aside{
    float: left;
    width: calc(20% - 10px);
    min-height: calc(500px - 10px);
    padding: 15px 5px;
}

/*CONTACT*/
.sectionTable, .table{
    background-color: var(--fondoOsc);
    color: var(--clarito);
}

.containerTable{   
    max-width: 1080px;
    margin: 0 auto;        
    padding: 90px 0px 90px 0px;      
} 

.rightContainer, .leftContainer{
    flex-basis: 50%;
    margin-left: 30px;
}

.formTitle{
    margin-right: 15%;

}

.subtitle{
    font-size: 22px;
    line-height: 1.5;
    font-weight: 400;
    color: var(--clarito);
}


